body{
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: cover;

}
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    line-height: 2px;
    margin: auto;
    margin-top: 3%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 1%;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    line-height: 20px;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 27px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #adadad;
}
.box p{
    color:#bbbbbb;
    font-size: 15px; 
}
.box p2{
    color:#bbbbbb;
}
